<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baPurchase</title>
</head>
<body>
    <a href="/logout">Log Out</a> <br>
    <a href='/baHomePage'>Back to Home Page</a>
    <h1>This is a baPurchase Page</h1>
    
    <form action="/baPurchase", method = "post">
        
        <label>AirlineCompany</label> <input type="text" name="AirlineCompany"> <br>
        <label>FlightNumber</label> <input type="text" name="FlightNumber"> <br>
        <label>Customter_Email</label> <input type="text" name="Customter_Email"> <br>
        <input type="submit" value="submit"> <br>
    </form>
</body>
</html>