<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <div style='margin-top: 10%;'>
        <center>
            <a href="/staffAddAirport1"><button class='longbutton'>Add Airport</button></a>
            <br>
            <a href="/staffAddAirplane1"><button class='longbutton'>Add Airplane</button></a>
            <br>
            <a href="/staffHomePage"><button class='longbutton'>GO BACK</button></a>
        </center> 
    </div>
     
</body>

</html>