<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div style='margin-top: 10%;'>
        <center>
        <a href="/top3y" ><button class='longbutton'>Top 3 Destination in 1 Year</button></a>   
        <br>    
        <a href="/top6m" ><button class='longbutton'>Top 3 Destination in 6 Month</button></a>   
        <br>     
        <a href="/monthTicket" ><button class='longbutton'>Ticket Amount</button></a>
        <br>
        <a href="/view"><button class='longbutton'>GO BACK</button></a>
        </center> 
    </div>
</body>

</html>