<HTML>

<head>
    <link rel="stylesheet" href="/static/style.css">
    
</head>

<body>
    <center>
        <h1> Airline Staff Login Form </h1>
        <form action="/loginAuth" method="POST">
            <div class="container">
                <div style="display: none;">
                    <input value="staff" name="user_type" id="user_type">
                </div>
                <div id="alert" style='display:none;'>
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{error}}
                </div>
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
                <input type="checkbox" checked="checked"> Remember me
                <a href="/"> <button type="button" class="cancelbtn"> Cancel</button>  </a>
                Forgot <a href="#"> password? </a>
            </div>
        </form>
    </center>
</body>
<script>
    if ('{{error}}'.length > 3) {
    document.getElementById('alert').style.display = 'block';
}
</script>
</HTML>