<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/addFlight.js"></script>
</head>

<body>
    <center>
        <h1> Add Airport </h1>
        <form >
            <div class="container">
                <label>airport_name : </label>
                <input type="text" placeholder="Enter airport_name" name="airport_name">
                <label>airport_city : </label>
                <input type="text" placeholder="Enter airport_city" name="airport_city">
                <button id="button1" type="button">Submit</button>
            </div>
            
        </form>
        <div style="width: 500px;padding: 16px;"> <a href=staffHomePage><button>GO BACK</button></a></div>
        <div id='res'>

        </div>
       
        
    </center>
</body>

</html>