<HTML>

<head>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/staffSearch.js"></script>
    <style>
        a {
            margin: 20px;
        }
    </style>

</head>

<body>
    <div>
        Welcome, {{username}} from {{airline_name}} 
        <a href="/editFlight" >Edit Flight</a>
        <a href="/editSystem" >Edit System</a> 
        <a href="/view" >View</a>
        <a href="/logout" >Log Out</a>
    </div>

    <div>
        <!-- upcoming flights in 30 days -->
        <h1>Upcoming Flights in 30 days</h1>
        <table class="table table-striped" style="width:100%;text-align: center;">
            <tr>
                {% for col in range(th1|length)  %}

                <th>{{ th1[col] }}</th>

                {% endfor %}
            </tr>

            {% for row in range(flight_data|length)  %}
            <tr>
                <td>{{ flight_data[row].airline_name }}</td>
                <td>{{ flight_data[row].flight_num }}</td>
                <td>{{ flight_data[row].departure_airport}}</td>
                <td>{{ flight_data[row].departure_time}}</td>
                <td>{{ flight_data[row].arrival_airport}}</td>
                <td>{{ flight_data[row].arrival_time}}</td>
                <td>{{ flight_data[row].price}}</td>
                <td>{{ flight_data[row].status}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
    <!-- flights by the airline based range of dates, city -->
    <div>
        <center>
            <h1>Search Flights</h1>
            <form class="publicSearch" id='form1'>
                <label>Departure City
                    <select name="departureCity" id="departureCity" method="GET" action="/">
                        <option value="{{cityAirportList[0]}}" selected>{{cityAirportList[0]}}</option>
                        {% for i in cityAirportList[1:] %}
                        <option value="{{i}}">{{i}}</option>"
                        {% endfor %}
                    </select>
                </label>
                <label>Arrival City
                    <select name="arrivalCity" id="arrivalCity" method="GET" action="/">
                        <option value="{{cityAirportList[0]}}" selected>{{cityAirportList[0]}}</option>
                        {% for i in cityAirportList[1:] %}
                        <option value="{{i}}">{{i}}</option>"
                        {% endfor %}
                    </select>
                </label>
                <label>flight date from
                    <input type="date" id="date1" name="date1" min="2020-12-01" max="2025-12-31">
                </label>
                <label>flight date to
                    <input type="date" id="date2" name="date2" min="2020-12-01" max="2025-12-31">
                </label>
                <input id="flightNum" name="flightNum" placeholder="flight number">
                <button type="button" id='button1'>Search</button>
                <!-- <input type="submit" value="search"> -->
            </form>
        </center>


    </div>
    <br>

    <div id="res1" height='200px'>
    </div>
    <br>
    <br>
    <div>
        <center>
            <h1>Find Customers of the Flight</h1>
            <form class="publicSearch" id='form2' >
                <label> Flight Number
                    <input id="flightNum1" name="flightNum1" placeholder="flight number" required>
                </label>
                
                <button type="button" id="button2">Search</button>
            </form>
        </center>


    </div>
    <div id="res2" height='200px'>
    </div>
    
</body>

</HTML>